{% extends 'website/destination.html' %}

{% block dest-content %}
<p align="left">Miki Somosot, 3/28/17</p>
<p align="left">Great city! Enjoyed the scenery and the food. Having taken a few humanities classes in college, I've definitely come to appreciate the storied majesty of the city. Absolutely loved walking down the Seine river - very peaceful and uplifting. The Eiffel Tower was just as I imagined - grand, but no extreme surprise. Would recommend going at 8am in the morning when there aren't tourists there.</p></br>
<p align="left">Hans Uy, 3/28/17</p>
<p align="left">Great city! Enjoyed the scenery and the food. Having taken a few humanities classes in college, I've definitely come to appreciate the storied majesty of the city. Absolutely loved walking down the Seine river - very peaceful and uplifting. The Eiffel Tower was just as I imagined - grand, but no extreme surprise. Would recommend going at 8am in the morning when there aren't tourists there.</p></br>
{% endblock %}
