{% extends 'website/base_generic.html' %}

{% block title %} WeTrip Destination Page {% endblock %}

{% block content %}
<div class="container">
    <!-- the top three pictures above the actual destination name & destination name -->
    <div class="row">
        <img src="http://www.euroclubschools.net/userimages/Escargot.jpg" class="img-rounded" style="width:380px;height:310px;">
        <img src="http://images.r.cruisecritic.com/features/2016/03/seine-river-tips-3.jpg" class="img-rounded" style="width:380px;height:310px;">
        <img src="https://cdn.getyourguide.com/niwziy2l9cvz/5DIBpZtmV2iaIgWgk6y2yC/12d243f532e40a6ac79c698ef820632e/paris-arc-de-triomphe-1500x850__3_.jpg" class="img-rounded" style="width:380px;height:310px;">
    </div>
    <div class="row">
    <p align="center"><font size = "8">{{ name }}</font></p>
    </div>

    <div class="row">
        <!-- The side-bar that contains Reviews, Photos, Friends Interested, Create Group, and Bookmark -->
        <div class = "col-md-4">
            <div class = "sidenav">
                <a href="/website/destination/{{ dest_id }}/reviews"><font size = "6">Reviews</font></a>    </br>
                <a href="/website/destination/{{ dest_id }}/photos"><font size = "6">Photos</font></a>      </br>
                <a href="/website/destination/{{ dest_id }}/friends"><font size = "6">Friends Interested</font></a>   </br>
                <a href="/website/destination/{{ dest_id }}/creategroup"><font size = "6">Create Group</font></a></br>
                <a href="/website/destination/{{ dest_id }}/bookmarks"><font size = "6">Bookmark</font></a></br>
            </div>
        </div>

    <!-- Content placeholder -->
    <div class="col-md-8">
      {% block dest-content %}
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}
