{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WeTrip Sign In Page</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'website/style.css' %}" />
  </head>

  <body class="full">

    <div class="container container-table">
      <div class="row vertical-center-row">
        <div class="col-md-4"></div>
        <div class="col-md-4 ">
          <form class="form-signin" method="post">
            <h2 class="form-signin-heading" align="center"><b>Please sign in</b></h2>
            {% csrf_token %}
            {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
            <label for="id_username" class="sr-only">Username</label>
            <input type="username" id="id_username" name="username" class="form-control" placeholder="Username" required autofocus>
            <label for="id_password" class="sr-only">Password</label>
            <input type="password" id="id_password" name="password" class="form-control" placeholder="Password" required>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
            <a href="google.com">Forgot Password?</a><br/>
            <a href="google.com">Create a WeTrip account</a>
          </form>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div> <!-- /container -->



    <!-- Latest compiled and minified JavaScript -->
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>

