{% extends 'website/base_generic.html' %}

{% block title %}WeTrip Profile Pages{% endblock %}

{% block content %}
<div class="container">
  <!-- the top section of the screen: profile picture, person's name, their location, number of friends, number of reviews, and number of photos-->
  <div class="row">
      <div class="col-md-3">
      </br>
      <img src="{{ profile_pic }}" class="img-circle" height="200px">
      </div>
      <div class="col-md-9">
      </br></br>
      <p align="left"><font size="10">{{ first_name }} {{ last_name }}</font></p>
      <p align="left"><font size="5">{{ location }}</font></p>
      <p align="left"><font size="5">{{ num_friends }} Friends, {{ num_reviews }} Reviews, {{ num_media }} Photos</font></p>
      </div>
  </div>

  <!-- contains the side bar: reviews, photos, bookmarks, about -->
  <div class="row">
      <div class = "col-md-3">
          <div class = "sidenav">
              </br>
              <a href="/website/profile/{{ username }}/reviews/"><font size = "6">Reviews</font></a>    </br>
              <a href="/website/profile/{{ username }}/photos/"><font size = "6">Photos</font></a>      </br>
              <a href="/website/profile/{{ username }}/bookmarks/"><font size = "6">Bookmarks</font></a>   </br>
              <a href="/website/profile/{{ username }}/friends/"><font size = "6">Friends</font></a></br>
              <a href="/website/profile/{{ username }}/about/"><font size = "6">About</font></a></br>
          </div>
      </div>

      <!-- contains the about section -->
      <div class="col-md-9">
          {% block profile-content %} {% endblock %}
      </div>
  </div>
</div>
{% endblock %}
