{% extends 'website/profile.html' %}

{% block profile-content %}
<p align="left"><font size="5">Hello! My name is Mickey.</font></p>
<p align="left"><font size="3">I'm a current undergraduate at The University of Texas at Austin studying East Asian Studies, Finance, and Mathematics. I'm a big lover of tasty food prepared with love and a shameless fan of Chinese music. I'm hoping to hit up East Asia in 2018, and I'm fluent in Mandarin - so if you want a fun travel buddy, shoot me a message!</font></p>  
{% endblock %}
