.full {
  background: url("https://i.ytimg.com/vi/hFlmkkVve94/maxresdefault.jpg") no-repeat center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size: cover;
    background-size: cover;
}

.fill {
	height: 100%;
	min-height: 100%;
}

html, body, .container-table {
    height: 100%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.sidenav {
  margin-bottom: 10px;
}
